body {
    background-color: #FEF9EC;
}

p {
    font-size: 14px;
}

.contact{
        display: flex;
        /* flex-direction: column;  */
        /* align-items: flex-start; */
        /* flex: 1 500px; */
        flex-wrap: wrap;
        background-color: #FEF9EC;
        justify-content: center;
}

.contact-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-us {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #F5D1C8;
    padding:20px;
    border-radius: 10px;
}

.contact-details{
    text-align: center;
    margin: 30px;
    background-color: #F5D1C8;
    padding:20px;
    border-radius: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    background-color: #FEF9EC;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.form-container {
    background-color: #DAD3C1;
    border-radius: 10px;
    padding: 20px;
}

.form-container h1{
    text-align: center;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #2c2b2b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #777;
}


@media (min-width: 1200px){
    .contact{
        display:flex;
        flex-wrap: nowrap;
    }
}

@media (min-width: 768px) and (max-width: 1199px){
    .contact{
        display:flex;
        flex-wrap: nowrap;
    }
}